//produces a double border on a block element
@mixin double-border($inner-border-color:gray,$outer-border-color:lightgray) {
  border: 4px solid $inner-border-color;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 6px $outer-border-color;
}