/*

1.
2.
3.
4.


*/

//vendor prefixing
@mixin simple-vendor-prefix($name, $argument) {
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
  #{$name}: $argument;
}

/*The following are taken from @BPScott - https://github.com/BPScott/bpscott.github.io*/
/**
 * Rems with pixel fallback for any property
 */
@mixin rem($property, $px-values, $baseline-px: $base-font-size) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem;

  // Create an empty list that we can dump values into
  $rem-values: ();
  @each $value in $px-values {
    // If the value is zero, return 0
    $rem-values: append($rem-values, if($value == 0, $value, $value / $baseline-rem));
  }

  // Output the property's px and rem values
  #{$property}: $px-values;
  #{$property}: $rem-values;
}

@mixin clear() {
  margin:0px; padding:0px;
  border:none; outline:none;
  list-style:none;
}

/*The following are taken from Brandon Mathis - http://codepen.io/imathis/pen/BDzcI*/
@mixin at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content 
  }
}

@mixin until($device-width) {
  @media screen and (max-width: $device-width - 1) {
    @content 
  }
}
